<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<body style="padding: 100px;">
    <h1>Admin Dashboard</h1>
    <form action="/logout" method="post">
        <button>Logout</button>
    </form>
    <table id="customers">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Active</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <%allUsers.forEach(element => { %>
                <tr>
                    <td><%=element.username%></td>
                    <td><%=element.role%></td>
                    <td><%=element.active%></td>
                    <td><a href=delete/<%=element._id%>><p>Delete</p></a> </td>
                </tr>
            <% }) %>
           
        </tbody>
        

    </table>
</body>

</html>