<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 100px;">
    <div>
        <h1>Admin Registration</h1>
        <form method="POST" action="/adminregistration">
          <div>
            <%=messages%>
          </div>
            <label for="username">Username</label><br/>
          
            <input type="text" name="username" id="username"><br/>
            <label for="password">Password</label><br/>
            <input type="password" name="password" id="password"><br/>

            <button type="submit"> Register</button>
        </form>
    </div>
    
</body>
</html>