<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 100px;">
    <div>
        <h1>Change Password</h1>
        <form method="POST" action="/forgetpassword">
          <div>
            <%=messages%>
          </div>
            <label for="username">Username</label><br/>
           
            <input type="text" name="username" id="username"><br/>
        
            <label for="password">New Password</label><br/>
            <input type="password" name="newpassword" id="newpassword"><br/>

            <button type="submit">Change Password</button>
        </form>
    </div>
    
</body>
</html>